<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CW - Admin - Edit Member</title>
</head>
<body>
    <h1>Edit Member</h1>
    <form action="/admin/edit-members/<%= member._id %>?_method=PUT" enctype="multipart/form-data" method="POST">
        <input type="text" name="name" value="<%= member.name %>">
        <input type="text" name="event" value="<%= member.event %>">
        <input type="number" name="class" value="<%= member.class %>">
        <div class="socials">
            <% for (let i = 0; i < member.socials.length; i++) { %>
                <div class="social">
                    <input required value="<%= member.socials[i].platform %>" type="text" name="socialPlatform">
                    <input required value="<%= member.socials[i].URL %>" type="text" name="socialURL">
                </div>
            <% } %>
        </div>
        <div class="imgInp">
            <input type="file" name="img" accept="image/*">
        </div>
        <img width="400px" src="/img/<%= member.image %>" alt="">
        <h3 style="cursor: pointer;" id="addSocial">Add Social</h3>
        <button type="submit">Done</button>
    </form>

    <script>
        let btn = document.querySelector("#addSocial");
        let socials = document.querySelector(".socials");

        btn.addEventListener("click", () => {
            let social = document.createElement("DIV");
            social.classList.add("social");

            let sPlatform = document.createElement("INPUT");
            sPlatform.setAttribute("placeholder", "Social Platform");
            sPlatform.setAttribute("type", "text");
            sPlatform.setAttribute("name", "socialPlatform");

            let sURL = document.createElement("INPUT");
            sURL.setAttribute("placeholder", "Social URL");
            sURL.setAttribute("type", "text");
            sURL.setAttribute("name", "socialURL");

            social.appendChild(sPlatform);
            social.appendChild(sURL);

            socials.appendChild(social);
        });
    </script>
</body>
</html>